/* styles.css */
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
body {
    font-family: Helvetica, Arial, sans-serif;
}

h1.body-section {
    background-color: bisque;
    text-align: center;
    font-size: 36px;
    padding: 10px 0px;
}

ul > li {
    list-style: none;
}

.title-image {
    height: 500px;
    width: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#mainMenu {
    background-color: rgb(184, 247, 238);
}

#mainMenu > ul > li {
    list-style: square;
    font-size: 20px;
}

.body-section {
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px 20px;
    margin: 10px auto;
    width: 80%;
}

.description {
    background-color: rgb(159, 255, 173);
    text-align: center;
}

.ingredients {
    background-color:rgb(255, 238, 140);    
}

.steps {
    background-color:rgb(255, 172, 211);    
}